a{
    color: #3498DB;
    text-decoration: none;
    background-color: transparent;
    margin-right:4%;
}

.PageFooter{
    margin: 0;
    margin-top:5%;
    padding: 0;
    box-sizing: border-box;
}