.postContent {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    font-size: 70%;

}

.postContent blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #3498DB;
}


.postContent p{
    padding-left: 20px;
}

.postContent h3{
    font-size: 160%;
}
